@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

  body{
      font-family: 'Lato', sans-serif;
  }

  #bars{
    display: none;
  }

  header{
  background-color: #407F7F;
  color: white;
  padding-bottom: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.submenu{
  max-height:200px;
  overflow: hidden;
  transition: 0.8s;
}

.container{
  max-width: 80rem;
  margin: 0 auto;
}

.headerIntro{
  display: flex;
  justify-content: space-around;
}

.intro{
  margin-top: 4.5rem;
}

.intro a img{
    width: 13rem;
    margin-bottom:5rem;
}

.intro h1{
  font-size: 2.25rem;
  font-weight: bold;
  max-width: 25rem;

}

.intro p{
  font-size: 1.70rem;
  font-weight:300;
  margin-bottom: 3rem;
  max-width: 32rem;

}

.intro a{
  color: white;
  font-size: 1.50rem;
  font-weight: bold;
  display: block;
}

.menu{
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  align-items: flex-end;
  flex: 1.5;
}

.menu ul a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu ul a:hover{
  color: black;
}

.menu ul li{
  margin-bottom: 0.50rem;
}

.logo{
  padding-top: 2rem;
}

.logo a img{
  max-width: 20rem;
}

.logo a{
  display: block;
}

.product{
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5rem;
  padding-left: 2rem;
}

.productReverse{
  display: flex;
  flex-direction: row-reverse;
}

.productImage{
  flex:1.25;
}

.productImage img{
  max-width: 100%;
  max-height: 35rem;
}

.productText{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productText p{
  max-width: 28rem;
  font-size: 1.125em;
  line-height: 1.625em;
  font-weight: lighter;
}

.productText a{
  color: #43857C;
  font-weight: bold;
  padding-top: 3rem;
}

.logoEnd {
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
}

.vision{
  display: flex;
  padding-bottom: 5rem;
}

.motto{
  flex:1;
  font-size: 2.25em;
  line-height: 1.125em;
  font-weight: 700;
  padding-left: 2rem;
}

.mottoExpanded{
  flex:2;
  padding-left: 2rem;
  font-size: 1.125em;
  line-height: 1.625em;
  font-weight: lighter;
}

  .cowImage img{
    max-height: 68rem;
    max-width: 100%;
  }

  footer{
    background-color: #333;
    color: rgba(244, 244, 244, 0.4);
  }

  footer ul li a{
    color: rgba(244, 244, 244, 0.4);
    text-decoration: none;
  }

  footer img{
    max-width: 20rem;
  }

  footer .container{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
  }

  .contactInfo{
    display: flex;
    margin-bottom:2rem;
    margin-top: 4rem;
    justify-content: space-between;
  }

  .menuEnd h4{
    padding-top: 2rem;
  }

  .copyright{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
  }

  .copyright a i{
    color: rgba(244, 244, 244, 0.4);
  }

  .socialMedia a i{
    padding-right: 0.5rem;
  }

@media screen and (max-width: 1081px) and (min-width: 951px){
  .productImage img{
    max-width: 30rem;
  }
}

@media screen and (max-width: 950px) and (min-width:851px){

  .productText p{
    font-size: 1em;
    padding-left:2rem;
  }

  .productText a{
    padding-left: 2rem;
    font-size: 1em;
  }
}

@media screen and (max-width: 850px) and (min-width: 491px){
  #bars{
    display: inline-block;
    padding-left:2rem;
  }

  .submenu.closed{
    max-height: 0;
  }

  .intro h1{
    font-size: 1.5rem;
    max-width: 20rem;
  }

  .intro p{
    font-size: 1.25rem;
    max-width: 25rem;
  }

  .intro a{
    font-size: 1.2rem;
  }

  .product{
  flex-direction: column;
  }

  .productText p{
    font-size: 1em;
    padding-top:2rem;
  }

  .productText a{
    font-size: 1em;
  }

  .productImage img{
    max-width: 100%;
  }

  .motto{
    font-size: 1.75em;
    line-height: 1em;
  }

  .mottoExpanded{
    font-size: 1em;
    line-height: 1.350em;
  }

  .mainMenu{
    display:none;
  }

  .menuEnd{
    line-height: 2rem;
  }

  .menuEnd ul li{
    text-align:center;
    font-size: 0.85rem;
  }

  .sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact{
    padding-top: 2rem;
    line-height: 2rem;
  }

  .contactInfo{
    flex-direction: column;
    align-items: center;
  }

  .copyright{
    flex-direction: column-reverse;
    align-items: center;
  }

  .socialMedia{
    padding-bottom: 2rem;
  }

}

@media screen and (max-width: 490px){

  #bars{
    display: inline-block;
    padding-left:2rem;
  }

  .menu ul{
    display: none;
  }

  .intro h1{
    font-size: 1.25rem;
    max-width: 20rem;
  }

  .intro p{
    font-size: 1rem;
    max-width: 20rem;
  }

  .intro a{
    font-size: 1rem;
    display: block;
  }

  .logoEnd {
  justify-content: flex-end;
  margin-right: 2rem;
  }

  .product{
  flex-direction: column;
  }

  .productText p{
    font-size: 1em;
    padding-top:2rem;
  }

  .productText a{
    font-size: 1em;
  }
  .productImage img{
    max-width: 100%;
  }

  .vision{
    flex-direction: column;
  }

  .motto{
    font-size: 1.75em;
    line-height: 1em;
    padding-bottom:3rem;
  }

  .mottoExpanded{
    font-size: 1em;
    line-height: 1.350em;
  }

  .mainMenu{
    display:none;
  }

  .menuEnd{
    line-height: 2rem;
  }

  .menuEnd ul li{
    text-align:center;
    font-size: 0.85rem;
  }

  .sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact{
    padding-top: 2rem;
    line-height: 2rem;
  }

  .contactInfo{
    flex-direction: column;
    align-items: center;
  }

  .copyright{
    flex-direction: column-reverse;
    align-items: center;
  }

  .socialMedia{
    padding-bottom: 2rem;
  }
}
